* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* MAIN STYLES */

body main p {
    background-color: #dfdfdf;
    border: 2px solid black;
    padding: 1rem;
    margin: 0 3rem 1.5rem;
}

body main section h2 {
    font-size: 1rem;
}

/* BUTTON STYLES */

button {
    all: unset;
    background-color: #4e4e4d;
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    align-items: center;
}

button:hover {
    opacity: 0.85;
    cursor: pointer;
}

#buttons {
    margin: 0 3rem;
}